<% flash.each do |message_type, message_content| %>
  <div class="ui <%= message_type %> four wide message transition">
    <i class="close icon"></i>
    <div class="header">
      <p><%= message_content %></p>
    </div>
  </div>
<% end %>
